:root {
   
    /* Primary Colors */
    --color-primary: #1f2937; /* Dark Blue */
    --transparent: #314562bc; /* Dark Blue */
    
    /* Secondary and Accent Colors */
    --color-secondary: #2563eb; /* Steel Blue */
    --color-accent: #1e40af; /* Deep Blue */
    
    /* Background and Text Colors */
    --color-background: #e5e7eb; /* Slightly darker gray */
    --color-text-primary: #ffffff; /* White */
    --color-text-secondary: #94a3b8; /* Darker Slate Gray */
    
    /* State Colors */
    --color-success: #059669; /* Emerald Green */
    --color-warning: #f4a928; /* Amber */
    --color-error: #dc2626; /* Crimson Red */

  }
  