.offersSection {
    display: flex;
    width: 100%;
    height: 99vh;
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-position: center;
    padding: 40px;
    background-color: var(--color-primary);
  }
  
  .leftSide {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .leftSide img {
    width: 80%;
    max-width: 500px;
  }
  
  .rightSide {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .cardsContainer {
    display: flex;
    justify-content: center;
    gap: 30px;
    transition: transform 0.3s ease;
  }
  
  .card {
    background-color: var(--color-secondary);
    color: var(--color-text-primary);
    padding: 35px;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease;
  }
  
  .card:hover {
    background-color: var(--color-accent);
  }
  
  .activeCard {
    background-color: var(--color-success);
  }
  
  .detailsCard {
    background-color: var(--transparent);
    color: var(--color-text-primary);
    padding: 35px;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    transition: opacity 0.4s ease;
  }
  