

.navbar {
    background-color: var(--primary-color);
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .menu-bars {
    margin-left: 30px;
    font-size: 30px;
    background: none;
  }
  
  .nav-menu {
    background-color:var(--primary-color);
    width: 200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px 0px 5px 5px;
    list-style: none;
    height: 50px;
  }
  
  .nav-text a {
    text-decoration: none;
    color:var(--white-color);
    font-size: 17px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: var(--secondary-color);
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: var(--primary-color);
    width: 80%;
    height: 90px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  span {
    margin-left: 15px;
  }