
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Primary Colors */
  --color-primary: #1b4332; /* Forest Green */
  --transparent: #386641bc; /* Deep Olive Green with transparency */

/* Secondary and Accent Colors */
  --color-accent: #386641; /* Deep Olive Green */
  --color-secondary: #a7c957; /* Mint Green */

/* Background and Text Colors */
  --color-background: #f5f5f5; /* Off-White */
  --color-background-dark: #2d6a4f; /* Dark Green */
  --color-text-primary: #1b4332; /* Forest Green */
  --color-text-secondary: #2d6a4f; /* Dark Green */
  --color-text-secondary-dark: #386641; /* Deep Olive Green */

/* State Colors */
  --color-success: #2d6a4f; /* Emerald Green */
  --color-warning: #eab308; /* Golden Yellow */
  --color-error: #b91c1c; /* Rust Red */

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--color-background);
  
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

ul, ol {
  list-style: none;
}
