
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Primary Colors */
  --color-primary: #253245; /* Dark Blue */
  --transparent: #334a6cbc; 
  
  /* Secondary and Accent Colors */
  --color-accent: #1f398e; /* Deep Blue */
  --color-secondary: #1557e5; /* Steel Blue */
  
  /* Background and Text Colors */
  --color-background: #222121; /* Slightly darker gray */
  --color-background-dark: #161e2a; /*dark greyish blue*/
  --color-text-primary: #ffffff; /* White */
  --color-text-secondary: #94a3b8; /* Darker Slate Gray */
  --color-text-secondary-dark: #66778e; /* Darker Slate Gray */
  
  /* State Colors */
  --color-success: #059669; /* Emerald Green */
  --color-warning: #f4a928; /* Amber */
  --color-error: #dc2626; /* Crimson Red */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--color-background);
  
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

ul, ol {
  list-style: none;
}
